# Project exclude paths
/.gradle/
/aoc2020/build/
/aoc2020/out/
/build/
/out/
bin/
/gradlew
/.idea/qaplug_profiles.xml
/gradlew.bat
/.idea/uiDesigner.xml
/.idea/$PROJECT_FILE$
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/gradle/wrapper/gradle-wrapper.properties
/.idea/modules/aoc.iml
/.idea/codeStyles/Project.xml
/gradle/wrapper/gradle-wrapper.jar
/.idea/compiler.xml
/.idea/vcs.xml
/.idea/libraries/KotlinJavaRuntime.xml
/.idea/misc.xml
/.idea/checkstyle-idea.xml
/.idea/gradle.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/
build/
.DS_Store
